.bg-image {
  background-image: url('https://i.imgur.com/jKaZa6C.png');
  background-size: cover;
  background-position: center;
}

.register-heading {
  font-weight: 300;
}

.btn-register {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

