body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6efdc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: white;
}

/* .active{
  color:orange;
} */

.card-pname{
  text-align: center;
  align-items: center;
  justify-content: center;
}

#profile-text{
  text-align: center;
}

.center-gs{
  text-align: center;
  justify-content: center;
}

.add-btn{
  text-align: center;
  
}

.scroll{
  max-height: 700px;
  overflow-y: auto;
  max-width: 9900;
}

@media screen and (max-width:600px){
  .scroll{
    max-height: 400px;
    overflow-y: auto;
  }
}

/* .container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.1fr 2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "col-1 gatherings gatherings"
    "col-1 gatherings gatherings"
    "col-1 games games"
    "col-1 games games";
}

.gatherings { grid-area: gatherings; }

.games { grid-area: games; }

.col-1 {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile profile profile"
    "profile profile profile"
    "groups groups groups"
    "groups groups groups";
  grid-area: col-1;
}

.profile { grid-area: profile; }

.groups { grid-area: groups; } */
